@import "tailwindcss";

/* Opcional: Personalizar estilos base */
@layer base {
  body {
    @apply bg-slate-900 text-slate-200 antialiased;
  }
}

/* Opcional: Personalizar scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
